HOST=0.0.0.0
PORT=1337
STRAPI_PLUGIN_I18N_INIT_LOCALE_CODE=fr

CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=

# These are production only variables
# DATABASE_HOST=
# DATABASE_PORT=5432
# DATABASE_NAME=postgres
# DATABASE_USERNAME=strapi
# DATABASE_PASSWORD=

AWS_REGION=eu-west-1
AWS_ACCESS_KEY_ID=
AWS_ACCESS_SECRET=
AWS_BUCKET_NAME=

SAMBA_DOMAIN=
SAMBA_EMAIL=
SAMBA_PASSWORD=

DDB_ENDPOINT=https://dynamodb.eu-west-1.amazonaws.com/
DDB_REGION=eu-west-1
DDB_KEY=
DDB_SECRET=
DDB_TABLENAME=

DEEPL_API_KEY=

WCM_MYSQL_HOST=localhost
WCM_MYSQL_USER=
WCM_MYSQL_PASSWORD=
WCM_MYSQL_DATABASE=RELAX_BIZ